- if @error
  #error 
    %strong A search error occurred:
    =@error
#ssquery{ :style => "display: none;", :"data-query" => params[:q] }
#inspector{ :style => "display: none;" }
  The following fields are known for the log you selected. Click on any link to
  append it to your search. If you shift+click, the field will be added to the
  search as an exclude rather than include.
  %ul

%i
  You can click on any search result to see what kind of fields we know about
  for that event. You can also click on the graph to zoom to that time period.
  The query language is that of Lucene's string query (<a href="http://lucene.apache.org/java/2_4_0/queryparsersyntax.html">docs</a>).

=haml :"search/ajax", :layout => false
