.*.swp
/*.gem
logstash*/*.gem
pkg/*.deb
pkg/*.rpm
*.class
.rbx
.rbx
*.tar.gz
*.jar
.bundle
build
local
test/setup/elasticsearch/elasticsearch-*
vendor
.sass-cache
data
.buildpath
.project
.DS_Store
*.pyc
etc/jira-output.conf
coverage/*
.VERSION.mk
.idea/*
spec/reports
rspec.xml
.install-done
.vendor
integration_run
.mvn/
qa/.vm_ssh_config
qa/.vagrant
qa/acceptance/.vagrant
qa/Gemfile.lock
*.ipr
*.iws
*.iml
.gradle
.idea
logs
qa/integration/services/installed/
