.*.swp
/*.gem
logstash*/*.gem
pkg/*.deb
pkg/*.rpm
pkg/jvm.options
pkg/log4j2.properties
pkg/startup.options
*.class
.rbx
*.tar.gz
*.jar
.bundle
build
out
local
test/setup/elasticsearch/elasticsearch-*
vendor
!docker/ironbank/go/src/env2yaml/vendor
.sass-cache
/data
.buildpath
.project
.DS_Store
*.pyc
etc/jira-output.conf
coverage/*
.VERSION.mk
.idea/*
spec/reports
rspec.xml
.install-done
.vendor
integration_run
.mvn/
qa/.vm_ssh_config
qa/.vagrant
qa/acceptance/.vagrant
qa/Gemfile.lock
Gemfile.lock
Gemfile
*.ipr
*.iws
*.iml
.idea
logs
.lock
qa/integration/services/installed/
.gradle
**/.settings
**/.classpath
logstash-core/bin
plugins_version_docs.json
tools/benchmark-cli/out/
qa/integration/fixtures/offline_wrapper/offline
qa/integration/fixtures/offline_wrapper/offline.o
logstash-core/versions-gem-copy.yml
logstash-core-plugin-api/versions-gem-copy.yml
config/logstash.keystore
html_docs
lib/pluginmanager/plugin_aliases.yml
logstash-core/src/main/resources/org/logstash/plugins/plugin_aliases.yml
spec/unit/plugin_manager/plugin_aliases.yml
logstash-core/src/test/resources/org/logstash/plugins/plugin_aliases.yml
qa/integration/fixtures/logs_rollover/log4j2.properties
ci/serverless/config/*.log