.*.swp
*.gem
pkg/*.deb
pkg/*.rpm
*.class
.rbx
Gemfile.lock
.rbx
*.tar.gz
*.jar
.bundle
build
local
test/setup/elasticsearch/elasticsearch-*
vendor
.sass-cache
data
.buildpath
.project
.DS_Store
*.pyc
etc/jira-output.conf
coverage/*
.VERSION.mk
