sudo: required
services:
  - docker
language: ruby
cache:
  directories:
    - vendor/bundle
    - ~/.gradle/
rvm:
  - jruby-1.7.25
jdk:
  - oraclejdk8
env:
  - INTEGRATION=false SPEC_OPTS="--order rand --format documentation"
  - INTEGRATION=true SPEC_OPTS="--order rand --format documentation"
  - INTEGRATION=false FEATURE_FLAG=persistent_queues SPEC_OPTS="--order rand --format documentation"
  - INTEGRATION=true FEATURE_FLAG=persistent_queues SPEC_OPTS="--order rand --format documentation"
before_install:
  # Force bundler 1.12.5 because version 1.13 has issues, see https://github.com/fastlane/fastlane/issues/6065#issuecomment-246044617
  - yes | gem uninstall -q -i /home/travis/.rvm/gems/jruby-1.7.25@global bundler
  - gem install bundler -v 1.12.5 --no-rdoc --no-ri --no-document --quiet
install:
  - rake test:install-core
script:
  - |+
      if [ "$INTEGRATION" == "true" ]; then
        ci/travis_integration_install.sh
        ci/travis_integration_run.sh;
      else
        rake test:core
      fi
