---
title: logstash docs index
layout: content_right
---
<div id="doc_index_container">

  <h3> for users </h3>
  <ul>
    <li> <a href="https://logstash.objects.dreamhost.com/release/logstash-1.2.0.beta1-flatjar.jar"> download logstash 1.2.0.beta1 </a> </li>
    <li> <a href="configuration"> configuration file overview </a> </li>
    <li> <a href="life-of-an-event"> the life of an event in logstash </a> </li>
    <li> <a href="flags"> command-line flags </a> </li>
    <li> <a href="conditionals">conditionals</a> </li>
    <li> <a href="field-references">event field reference</a> </li>
    <li> <a href="format-strings">text formatting</a> </li>
  </ul>

  <h3> for developers </h3>
    <li> <a href="extending"> writing your own plugins </a> </li>
  </ul>

  <h3> use cases and tutorials </h3>

  <ul>
    <li> <a href="tutorials/getting-started-simple"> getting started (standalone) </a> </li>
    <li> <a href="tutorials/getting-started-centralized"> getting started (centralized) </a> </li>
    <li> <a href="tutorials/10-minute-walkthrough"> 10-minute walkthrough</a> - a simple walkthrough to show you how to configure the logstash agent to process events and even old logs. </li>
    <li> <a href="tutorials/metrics-from-logs"> Gathering metrics from logs </a> - take metrics from logs and ship them to graphite, ganglia, and more. </li>
    <li> <a href="tutorials/just-enough-rabbitmq-for-logstash">Just enough RabbitMQ for Logstash </a> - Get a quick primer on RabbitMQ and how to use it in Logstash! </li>
  </ul>

  <h3> books and articles </h3>

  <ul>
    <li> <a href="http://www.logstashbook.com">The LogStash Book </a> - An introductory LogStash book. </li>
  </ul>

  <h3> plugin documentation </h3>
<% docs.each do |type, paths| -%>
  <div class="doc_index_section">
    <h3><%= type %></h3>
    <ul>
<% paths.each do |path| -%>
<%   name = File.basename(path).gsub(".html", "") -%>
      <li>
      <a href="<%= "#{type}/#{name}" %>"><%= name %></a>
      </li>
<% end -%>
    </ul>
  </div>
<% end -%>
</div>
<div class="clear"></div>
