# Sets the default handler for FastCGI scripts
AddHandler fastcgi-script .fcgi               

# If Apache2 is used together with mod_fcgid,
# uncomment the line below and comment in the line 
# above to set the correct script handler
#AddHandler fcgid-script .fcgi

RewriteEngine On

RewriteRule ^$ index.html [QSA]
RewriteRule ^([^.]+)$ $1.html [QSA]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ merb.fcgi [QSA,L]


ErrorDocument 500 "<h2>Application Error</h2>Merb could not be reached"
