input { stdin { type => "stdin-type"}}

output {
  jira {
   host => "YOUR HOST NAME"
   username => "USERNAME"
   password => "PASSWORD"
#   project => "LOGSTASH"
   projectid => "11203" # would have prefered a project key, https://github.com/jstewart/jiralicious/issues/16
   issuetypeid => "7"
   summary => "Driven from config file"
   reporter => "admin"
   assignee => "admin"
   priority => "1"
  }
 
  stdout {
  	debug => true 
	debug_format => "ruby"
  }

#  elasticsearch { 
#    index => "logstash"
#    type => "%{@type}"
#  }
}
