input { stdin { type => "stdin-type"}}

output {
  jira {
   host => "pm.xyz.com"
   apikey => "user:password"
   project => "LOGSTASH"
#   searchfields => hash { 'field' => 'value', 'field2' => 'value2' }  # only when used with the append method
#   method => append/new # Create a new ticket with every event or append it based on the search method
#   fields => hash { 'JiraField1' => 'value1', 'JiraField2' => 'value2' } # Add data to field for the ticket when its created initially
#   comment => 'string' # Add comment to the ticket ( a new comment is placed all the time when in append method )
  }

  stdout {
  	debug => true 
	debug_format => "ruby"
  }

  elasticsearch { 
    index => "logstash"
    type => "%{@type}"
  }
}
