<div class="searchBar">
  <span>
  <%= form :action => url(:controller => "search", :action => "query"),
           :method => :get do %>
  <%= text_field :name => "q", :label => "Query: ", :value => escape_html(params[:q]), :size => 100 %>
    <!--
    <%= text_field :name => "log_type", :label => "log type", :value => escape_html(params[:log_type]) %>
    <br>
    -->
    <%= submit "Search" %>
  <% end =%>
  </span>

  <span class="logstash-logo">
    logstash.
  </span>
</div>
