<div id="portal">
<center>
  <div class="searchBar">
    <div>
      logstash.
    </div>

    <span>
    <%= form :action => url(:controller => "search", :action => "query"),
             :method => :get do %>
      <%= text_field :name => "q", :label => "Query: ", :value => escape_html(params[:q]), :size => 100 %>
      <%= submit "Search" %>
    <% end =%>
    </span>
  </div>
</center>
</div>
