#searchheader
  %form.search{ :action => "/search" }
    %label{ :for => "q" } Query: 
    %input.query{ :id => "query", :type => "text", :name => "q", :value => params[:q],
                  :size => 60 }
    %input{ :id => "searchbutton", :type => "submit" }

  You can click on any search result to see what kind of fields we know about
  for that event.

- if @error
  #error 
    %strong A search error occurred:
    =@error
#ssquery{ :style => "display: none;", :"data-query" => params[:q] }
#inspector{ :style => "display: none;" }
  The following fields are known for the log you selected. Click on any link to
  append it to your search. If you shift+click, the field will be added to the
  search as an exclude rather than include.
  %ul
=haml :"search/ajax", :layout => false
