<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang='en' xml:lang='en' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <title>Documentation</title>
    <meta content='text/html;charset=UTF-8' http-equiv='content-type' />
    <meta content='all' name='robots' />
    <meta content='text/html;charset=utf-8' http-equiv='content-type' />
    <meta content='no' http-equiv='msthemecompatible' />
    <meta content='false' http-equiv='imagetoolbar' />
    <link href="generators/template/merb/merb.css" media="screen" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id='content'>
      <div class='wrap_to_center'>
          <div class='full_width' id='content_top'>
            <div id='content_bottom'>
              <div id='content_full'>
                <h1>Documentation</h1>
                <ul>
                <% @directories.each do |directory| %>
                  <li id="merb-core"><a href="<%= directory %>/index.html"><%= directory.capitalize %></a></li>
                <% end %>
                </ul>
              </div> 
            </div>
          </div>
      </div>
      <div id='footer'>
        <div class='wrap_to_center'>
            <p>
              &copy; 2008, Merb Team | Merb is released under the <a href="http://www.opensource.org/licenses/mit-license.php">MIT License</a>
            </p>
        </div>
      </div>
    </div>
  </body>
</html>
