html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/*  GENERAL RULES  */

body {
  background: #000 url(../img/body.gif) repeat-x bottom center;
  color: #000;
  font: normal 12px "Lucida Grande", "Arial", sans-serif;
  line-height: 1;
}  
ul {list-style-type: none;}
#content_full ul.revisions{list-style-type: disc;}
#content_full ul.revisions li{margin-left: 15px;padding: 3px 0;}
li a {display: block;}
#content_full ul.revisions li a{display: inline;}
strong {font-weight: bold;}
table {border-collapse: separate;border-spacing: 0; }
caption, th, td {text-align: left;font-weight: normal; }
.invisible {display: none;}
.full_width {width:100%;}

/*  LAYOUT  */
  
.wrap_to_center, #foot {
  margin: 0 auto;
  display: block;
  width: 800px;
}

#content {width: 100%;}

#content_top {
  background: #fff url(../img/content_top.gif) no-repeat top center;  
  float:left;
  margin:25px 0px;
  width:100%;
}
#content_bottom {
  background: url(../img/content_bottom.gif) no-repeat bottom center;
  width:100%;
  float:left;
}
#content_main {
  float:left;
  margin: 10px 20px 20px 20px;
  width:506px;
}
#content p {
  line-height:17px;
}
#content_full {margin: 10px 20px 20px 20px;}

/*  HEADER & NAVIGATION  */

#header {
  background: #1db900 url(../img/header_waves.gif) repeat-x top center;
  height:74px;
  width: 100%;
}
#waves {
  background: url(../img/header_waves.gif)no-repeat top left;
  height:74px;
  width:980px;
}  
#header img {margin-top:8px; float:left;}
#header a {color:#fff; text-decoration:none;}
#header a:hover {color:#000;}
ul#nav {float:right;display:block;width:43.3em;margin-top:25px;}
ul#nav li {display:block;float:left;}
ul#nav li a {display:block;float:left;margin:0px 5px;padding:6px 9px 31px 9px;}
ul#nav li a:hover {background:url(../img/header_hover.gif) repeat-x bottom center;}
ul#nav li a#active {background:url(../img/header_arrow.gif)no-repeat bottom center;}
ul#nav li.last a {margin-right:0;}

/*  TEXT FORMATTING  */

h1 {
  border-bottom:2px solid #ccc;
  color:#000;
  font:bold 28px "Arial" sans-serif;
  letter-spacing:1px;
  margin:20px 0px;
  text-align:left;
  width:100%;
}  
h1.home {
  border:0;
  color:#fff;
  font-size:36px;
  margin:20px 0px;
  text-align:center;
}
h2 {
  color:#7aad00;
  font:bold 22px "Lucida Grande" sans-serif;
  margin:10px 0px;
}
h3 {
  font:bold 16px "Lucida Grande";
  margin:10px 0px;
}
#content a {color:#d7ff00;}
#content a:hover {background:#d7ff00;color:#000;}
#content_main ul {margin:10px 0px;}
#content_main ul li {
  background: url(../img/li.gif) no-repeat left center;
  padding: 4px 4px 4px 16px;
  font-weight:bold;
}
p {margin-bottom:12px;}
#content_main a,#content_full a {color:#11b716;font-weight:bold;}
#content_main a:hover,#content_full a:hover {background:#22d716;}
pre {
  background:#222;
  color:#fff;
  font:12px "Courier" serif;
  line-height:18px;
  padding: 12px;
  margin-bottom: 10px;
}
code {
  font:bold 12px "Courier" serif;
}
pre code {font-weight:normal;}

/*  SIDEBAR FOR CONTENT  */

#content_sidebar {
  float: left;
  margin: 20px 20px 15px 10px;
  width: 224px;
}
.sidebar_top {
  background:#868686 url(../img/sidebar_top.gif) no-repeat top center;
  margin-bottom:12px;
  width:224px;
}
dl.sidebar_bottom {
  background: url(../img/sidebar_bottom.gif) no-repeat bottom center;
  padding:12px;
}
dl.sidebar_bottom dt {
  color:#fff;
  font:bold 14px "Lucida Grande" sans-serif;
  margin-bottom:6px;
}
dl.sidebar_bottom dd {padding:3px 0px;}
#content_sidebar p {padding:10px 0px;}
p#rss a {
  background: url(../img/rss.gif) no-repeat left center;
  color:#000;
  font:bold 14px "Lucida Grande";
  padding: 8px 6px 8px 34px;
  text-decoration:none;
}
p#rss a:hover {
  background: url(../img/rss.gif) no-repeat left center;
  background-color:#fff;
  text-decoration:underline;
}

/*  FOOTER  */

#footer {background:#444; clear:both;}
#footer p {padding:12px; color:#999; margin:0; text-align:center;}

/*  FEATURES PAGE  */
.feature {
  background-repeat:no-repeat;
  background-position:top left;
  border-bottom:2px solid #ccc;
  padding-left:150px;
}
div#speed {background-image: url(../img/feature_speed.gif);}                        
div#light {background-image: url(../img/feature_light.gif);}                        
div#power {background-image: url(../img/feature_power.gif);}

.quicklinks_top {
  background:#868686 url(../img/quicklinks_top.gif) no-repeat top center;
  float:right;
  margin-bottom:12px;
  width:169px;  
}               
ul.quicklinks_bottom {
  background: url(../img/quicklinks_bottom.gif) no-repeat bottom center;
  padding:12px;
}
ul.quicklinks_bottom li {
  display:block;
  padding:3px 0px;
}
#content_full ul.quicklinks_bottom li a{
  color:#d7ff00;
  display:inline;
}
#content_full ul.quicklinks_bottom li a:hover {
  background:#d7ff00;
  color:#000;
}

/*  DOCUMENTATION PAGE  */
.sub-framework {
  border-bottom:2px solid #ccc;
  margin-bottom: 20px;
  padding-bottom: 10px;
}


/*  ICONS FOR HOMEPAGE  */

#icons_top {
  background: url(../img/icons_top.gif) no-repeat top center;
  float:left;
  width:800px;
}
#icons_bottom {
  background: url(../img/icons_bottom.gif) no-repeat bottom center;
  float:left;
  width:800px;
}
#icons_top dl {
  color:#fff;
  float:left;
  width: 224px;
  padding: 15px 20px;
}
#icons_top dt {
  background-repeat:no-repeat;
  background-position:center 2.5em;
  color:#35d726;
  font:bold 18px 'Lucida Grande' sans-serif;
  padding: 6px 6px 150px 6px;
  text-align:center;
}
#icons_top dd {
  font: 11px "Lucida Grande";
  line-height:18px;
  text-align:center;
}
dl#speed, dl#light {border-right:1px solid #444;}
dl#light, dl#power {border-left:1px solid #000;}
dl#speed dt {background-image: url(../img/icon_speed.gif);}
dl#light dt {background-image: url(../img/icon_light.gif);}
dl#power dt {background-image: url(../img/icon_power.gif);}