body
  margin: 0
  padding: 0
#header
  border-top: 4px solid black
  border-bottom: 1px solid black
  background-color: lightgreen
  padding-left: 1em
  width: 100%

  .logo
    font-size: 130%
    font-weight: bold
