Source: logstash
Section: devel
Priority: extra
Maintainer: Corey Quinn <corey@sequestered.net>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2
Homepage: http://logstash.net

Package: logstash
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, daemon, adduser, psmisc, default-jre
Description:  tool for managing events and logs
 logstash is a tool for managing events and logs. You can use it to collect logs,
 parse them, and store them for later use (like, for searching). Speaking of
 searching, logstash comes with a web interface for searching and drilling into
 all of your logs.
