---
title: logstash docs index
layout: content_right
---
<div id="doc_index_container">

  <h3> For Users </h3>
  <ul>
    <li> <a href="https://download.elasticsearch.org/logstash/logstash/logstash-%VERSION%.tar.gz"> download logstash %VERSION% </a> </li>
    <li> <a href="release-notes"> upgrade/release notes </a> </li>
    <li> <a href="https://github.com/elasticsearch/logstash/blob/v%VERSION%/CHANGELOG"> view changelog </a> </li>
    <li> <a href="contrib-plugins"> contrib plugins</a> </li>
    <li> <a href="repositories"> package repositories</a> </li>
    <li> <a href="configuration"> configuration file overview </a> </li>
    <li> <a href="configuration#conditionals">conditionals</a> </li>
    <li> <a href="configuration#fieldreferences">referring to fields [like][this]</a> </li>
    <li> <a href="configuration#sprintf">using the %{fieldname} syntax</a> </li>

    <li> <a href="life-of-an-event"> the life of an event in logstash </a> </li>
    <li> <a href="flags"> command-line flags </a> </li>
  </ul>

  <h3> For Developers </h3>
  <ul>
    <li> <a href="extending"> writing your own plugins </a> </li>
  </ul>

  <h3> Tutorials and Use Cases </h3>

  <ul>
    <li> <a href="tutorials/getting-started-with-logstash"> Getting started with Logstash </a> - New to Logstash? Start here! </li>
    <li> <a href="tutorials/metrics-from-logs"> Metrics from logs </a> - take metrics from logs and ship them to graphite, ganglia, and more. </li>
    <li> <a href="tutorials/just-enough-rabbitmq-for-logstash">Just enough RabbitMQ knowledge for Logstash </a> - Get a quick primer on RabbitMQ and how to use it in Logstash! </li>
  </ul>

  <h3> books and articles </h3>

  <ul>
    <li> <a href="http://www.logstashbook.com">The Logstash Book </a> - An introductory Logstash book. </li>
  </ul>

  <h3> plugin documentation </h3>
<% docs.each do |type, paths| -%>
  <div class="doc_index_section">
    <h3><%= type %></h3>
    <ul>
<% paths.each do |path| -%>
<%   name = File.basename(path).gsub(".html", "") -%>
      <li>
      <a href="<%= "#{type}/#{name}" %>"><%= name %></a>
      </li>
<% end -%>
    </ul>
  </div>
<% end -%>
</div>
<div class="clear"></div>
