---
title: logstash docs index
layout: content_right
---
<div id="doc_index_container">

  <ul>
    <li> <a href="getting-started-simple"> getting started (standalone) </a> </li>
    <li> <a href="getting-started-centralized"> getting started (centralized) </a> </li>
    <li> <a href="installation"> install </a> </li>
    <li> <a href="configuration"> configure </a> </li>
    <li> <a href="extending"> extending </a> </li>
  </ul>

  <h3> plugin docs </h3>
<% docs.each do |type, paths| -%>
  <div class="doc_index_section">
    <h3><%= type %></h3>
    <ul>
<% paths.each do |path| -%>
<%   name = File.basename(path).gsub(".html", "") -%>
      <li>
      <a href="<%= "#{type}/#{name}" %>"><%= name %></a>
      </li>
<% end -%>
    </ul>
  </div>
<% end -%>
</div>
<div class="clear"></div>
