[Unit]
Description=Logstash
Requires=elasticsearch.service

[Install]
WantedBy=multi-user.target

[Service]
User=logstash
Group=logstash
WorkingDirectory=/opt/logstash
Restart=always
Type=simple
PIDFile=/var/run/logstash.pid
LimitNOFILE=16384
EnvironmentFile=/etc/default/logstash
Environment="LS_USER=logstash"
Environment="LS_GROUP=logstash"
Environment="LS_HOME="
Environment="LS_HEAP_SIZE=500m"
Environment="LS_JAVA_OPTS=-Djava.io.tmpdir=/var/lib/logstash"
Environment="LS_LOG_DIR=/var/log/logstash"
Environment="LS_LOG_FILE=/var/log/logstash/logstash.log"
Environment="LS_CONF_DIR=/etc/logstash/conf.d"
Environment="LS_OPEN_FILES=16384"
Environment="LS_NICE=19"
ExecStart=/opt/logstash/bin/logstash -f /etc/logstash/conf.d -l /var/log/logstash/logstash.log --log /var/log/logstash/logstash.log --filterworkers 1 --pluginpath /srv/deployment/logstash/plugins
StandardOutput=journal
StandardError=journal
