name: bump-java-version

on:
  schedule:
    # Run weekly on Mondays at midnight UTC
    - cron: '0 0 * * 1'
  workflow_dispatch:


jobs:
  filter:
    runs-on: ubuntu-latest
    timeout-minutes: 1
    permissions:
      contents: read
    outputs:
      matrix: ${{ steps.generator.outputs.matrix }}
    steps:
      - id: generator
        uses: elastic/oblt-actions/elastic/active-branches@v1
        with:
          filter-branches: true
  bump:
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    needs: [filter]
    strategy:
      matrix: ${{ fromJson(needs.filter.outputs.matrix) }}
    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ matrix.branch }}
      - uses: elastic/oblt-actions/updatecli/run@v1
        with:
          command: apply --config .ci/updatecli/bump-java-version.yml --values .ci/updatecli/values.d/scm.yml
          version-file: .updatecli-version
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          LOGSTASH_BRANCH: ${{ matrix.branch }}
